@{
    ViewData["Title"] = "Triggers";
}
@using PlasticNotifyCenter.Data
@model AppSettings

@section modals {
    <partial name="../Setup/triggerModal" />
}
@section scripts {
    <script type="text/javascript">
    <!--
    replaceBaseUrl();
    -->
    </script>
}

<div class="container">
    <div class="row">
        <h1 class="display-1">
            Triggers
        </h1>
    </div>
    <hr class="my-4">
    @Html.Partial("_menu", "triggers")
    <input type="hidden" id="baseUrl" value="@Model.BaseUrl" />
    <div class="row">
        <div class="col12">
            <p>
                <br/>
                These are the commands to setup all triggers. Please run them only once per Plastic SCM server.
            </p>
            <partial name="../Setup/trigger" />
        </div>
    </div>
</div>